* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', 'sans-serif';
    background-color: #f3f3f3;
    font-weight: 300;
}

strong {
    font-weight: 500;
}

.container {
    padding: 12px;
    width: 100%;
    max-width: 720px;
    margin: auto;
    background-color: white;
}

header {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
    padding: 12px 0;
}

header h1, header h3 {
    font-weight: 300;
}

h1 strong {
    font-weight: 500;
}

header .title {
    margin-right: auto;
}

header .contact {
    margin-left: auto;
    text-align: right;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .contact > div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

header .contact img {
    height: 1em;
    margin-left: 4px;
}

@media not print {
    @media (max-width: 600px) {
        header {
            flex-direction: column;
        }
        header .contact {
            margin-left: 0;
            margin-top: 8px;
            padding-top: 12px;
            text-align: center;
            flex-direction: row;
            flex-flow: wrap;
            border-top: 1px solid #d3d3d3;
        }
        header .contact>div {
            margin: 0px 8px;
            flex: 1 0 auto;
            justify-content: center;
        }
    }
}

article section {
    margin-top: 16px;
}

article section {
    display: block;
}

article section h3 {
    font-weight: 400;
    text-transform: uppercase;
}

.section-item {
    margin-top: 4px;
    margin-left: 2.5rem;
    padding-right: 2.5rem;
}

.section-title {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 0.5rem;
}

.section-title div:last-child {
    margin-left: auto;
    text-align: right;
    margin-top: auto;
}

.section-item h4 {
    font-weight: 500;
}

.section-item h5 {
    font-weight: 300;
}

.section-item i {
    font-style: italic;
    font-weight: 300;
    font-size: 0.75rem;
}

.section-item ul {
    list-style-position: outside;
    margin-left: 1em;
    font-size: 0.83rem;
}

.section-item p {
    font-size: 0.83rem;
}

.section-item .role-title {
    font-weight: 400;
}

.two-column {
    display: flex;
    flex-direction: row;
}

.two-column div:last-child {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 1px solid #d3d3d3;
}

.two-column.align-center > div:first-child {
    flex: 0 0 70%;
}

@media not print {
    @media (max-width: 600px) {
        .section-item {
            padding-right: 0;
            margin-left: 2rem;
        }

        .section-title {
            display: block;
        }

        .section-title div:last-child {
            margin: 0;
            text-align: left;
        }

        .two-column {
            display: block;
        }

        .two-column > div:last-child {
            margin: 0;
            margin-top: 1rem;
            padding: 0;
            border: none;
        }

        .two-column.align-center > div:last-child {
            margin: 0;
        }
    }
}
